@model ML.Result
@{
    ViewData["Title"] = "CargaMasiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h2>Empresa Carga-Masiva</h2>
            <hr/>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <h7 class="text-center">Presione el botón "Examinar" para subir un archivo de excel y después oprima "Cargar" para comenzar la carga masiva de su archivo</h7>
        </div>
    </div>
    <br/>

    <div class = "align-content-center">
        @using(Html.BeginForm("CargaMasiva", "EmpresaCargaMasiva", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class = "col-md-4">
                    <input class="form-control" type="file" name="ArchivoExcel" onchange="readURL(this);" />
                </div>  
                
                @if(!Model.Correct)
                {
                    <div class = "col-md-4">
                        <input type="submit" value="Procesar" class="btn btn-primary" formmethod="post">
                    </div>
                }
                else
                {
                    <div class = "col-md-4">
                        <input type="submit" value="Cargar" class="btn btn-primary" formmethod="post">
                    </div>
                }               
            </div>
            <br />
        }
    </div>

    <div class = "row">
        <div class = "col-md-12">
            @if(Model.Objects != null)
            {
                <table class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <td>IdRegistro</td>
                            <td>Error</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach(ML.ErrorExcel error in Model.Objects)
                        {
                            <tr class = "text-center">
                                <td>@error.IdErrorExcel</td>
                                <td>@error.Message</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>

</div>

